.sidebar {
  width: 320px;
  min-height: 100vh;
  flex-shrink: 0;

  padding: 36px;
  border-radius: 36px;

  background: var(--glass-white);

  border-right: 1px solid var(--border-color);
  box-shadow: 0 10px 40px var(--shadow-primary);

  display: flex;
  flex-direction: column;
}

.sidebar__logo {
  margin-bottom: 32px;
}

.sidebar__title {
  font-size: 44px;
  font-weight: 800;
  letter-spacing: -2px;
  color: var(--text-dark);
}

.sidebar__add-button {
  width: 100%;
  padding: 18px;
  margin-bottom: 32px;

  border: none;
  border-radius: 18px;

  background: linear-gradient(30deg, var(--primary-light), var(--primary));
  color: var(--white);

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  box-shadow: 0 10px 20px var(--shadow-strong);
  transition: 0.2s ease;
}

.sidebar__list {
  list-style: none;
}

.sidebar__item {
  margin-bottom: 12px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 16px 18px;
  border-radius: 16px;

  color: var(--text-dark);
  text-decoration: none;

  font-size: 18px;
  font-weight: 500;

  transition: 0.2s ease;
}

.sidebar__link:hover {
  background: var(--border-color);
  color: var(--primary);
  transform: translateX(4px);
}

.sidebar__link--active {
  background: linear-gradient(
    135deg,
    var(--active-gradient-start),
    var(--active-gradient-end)
  );

  color: var(--primary);

  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.35),
    0 8px 20px var(--shadow-primary);
}

.sidebar__link-icon {
  width: 24px;
  display: flex;
  justify-content: center;
}

.sidebar__link-text {
  font-weight: 500;
}

.sidebar__link-count {
  margin-left: auto;
  font-size: 16px;
  color: var(--text-light);
}

.sidebar__link--active .sidebar__link-count {
  color: var(--primary);
}

.sidebar__link--active .sidebar__link-icon {
  transform: scale(1.1);
}

.sidebar__card {
  margin-top: auto;
  padding: 30px;

  border-radius: 24px;

  background: linear-gradient(
    135deg,
    var(--primary-light),
    var(--progress-pink)
  );

  color: var(--white);
  font-size: 18px;
}
