* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f5f7ff;
  --white: #ffffff;
  --primary: #7b61ff;
  --primary-light: #a78bfa;
  --text-dark: #1e1e2f;
  --text-light: #8b8ba7;
  --border-color: #ececff;
  --button-gradient1: #fee08b;
  --button-gradient2: #ffb5ea;
  --color-card-bg: #f5e8f1;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #cbbfff, #ffb5ea, #f9fab4, #f5f7ff);
  padding: 30px;
  color: var(--text-dark);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.app {
  display: flex;
  min-height: 100vh;
  gap: 24px;
}
.sidebar {
  width: 320px;
  min-height: 100vh;
  flex-shrink: 0;

  padding: 36px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);

  border-right: 1px solid var(--border-color);
  box-shadow: 0 10px 40px rgba(123, 97, 255, 0.08);

  display: flex;
  flex-direction: column;
}
.sidebar__logo {
  margin-bottom: 32px;
}
.sidebar__title {
  font-size: 44px;

  font-weight: 800;

  letter-spacing: -2px;

  color: var(--text-dark);
}
.sidebar__add-button {
  width: 100%;
  box-shadow: 0 10px 20px rgba(123, 97, 255, 0.25);
  padding: 18px;

  margin-bottom: 32px;

  border: none;
  border-radius: 18px;

  background: linear-gradient(30deg, var(--primary-light), var(--primary));

  color: var(--white);

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s ease;
}
.sidebar__list {
  list-style: none;
}
.sidebar__item {
  margin-bottom: 12px;
}
.sidebar__link {
  display: flex;
  gap: 14px;

  align-items: center;

  padding: 16px 18px;

  border-radius: 16px;

  color: var(--text-dark);

  text-decoration: none;

  font-size: 18px;
  font-weight: 500;

  transition: 0.2s ease;
}

.sidebar__link:hover {
  background: var(--border-color);
  color: var(--primary);
}
.sidebar__link--active {
  background: #c68ec6;
 
color: var(--white);
}
.sidebar__card {
  margin-top: auto;
  color: var(--white);
  padding: 30px;
  font-size: 18px;
  border-radius: 24px;

  background: linear-gradient(
    135deg,
    var(--primary-light),
    var(--button-gradient2)
  );
}
.sidebar__link-count {
  margin-left: auto;
  color: #555555;
}
.main {
  flex: 1;
  min-width: 0;

  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background: rgba(255, 255, 255, 0.55);

  backdrop-filter: blur(20px);

  border-radius: 25px;

  box-shadow: 0 10px 40px rgba(123, 97, 255, 0.08);
}
.main__icon {
  font-size: 34px;
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__title-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.main__title {
  font-size: 42px;
  font-weight: 700;
}
.main__actions {
  display: flex;
  gap: 16px;
}
.main__icon-button {
  width: 54px;
  height: 54px;

  border: none;

  border-radius: 18px;

  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(20px);

  cursor: pointer;

  font-size: 20px;

  box-shadow: 0 10px 30px rgba(123, 97, 255, 0.08);
}
.task-input__form {
  display: flex;

  gap: 16px;
}
.task-input__field {
  flex: 1;

  padding: 20px;

  border: none;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(20px);

  font-size: 16px;

  outline: none;

  box-shadow: 0 10px 30px rgba(123, 97, 255, 0.08);
}
.task-input__button {
  padding: 0 28px;

  border: none;

  border-radius: 20px;

  background: linear-gradient(135deg, var(--primary), var(--primary-light));

  color: var(--white);

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}
.tasks {
  padding: 28px;
  width: 100%;
  border-radius: 28px;

  background: rgba(255, 255, 255, 0.7);

  backdrop-filter: blur(20px);

  box-shadow: 0 10px 40px rgba(123, 97, 255, 0.08);
}
.tasks__list {
  list-style: none;

  display: flex;

  flex-direction: column;

  gap: 24px;
}
.tasks__item {
  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 20px;

  padding: 24px 0;

  border-bottom: 1px solid var(--border-color);
}
.tasks__label {
  display: flex;

  align-items: center;

  gap: 14px;
}
.tasks__text {
  font-size: 22px;

  font-weight: 500;
}
.tasks__favorite {
  border: none;

  background: transparent;

  font-size: 30px;

  cursor: pointer;
  color: #ffb800;

  transition: 0.2s ease;
}
.tasks__checkbox {
  width: 22px;
  height: 22px;

  accent-color: var(--primary);

  cursor: pointer;
}
.tasks__time {
  padding: 8px 14px;

  border-radius: 12px;

  background: #f3f0ff;

  font-size: 14px;

  color: var(--primary);
}
